* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Text and Buttons */

body {
    background-color: #f2e3f8;
}

h1 {
    font-family: Verdana, sans-serif;
    margin: 28px;
    text-align: center;
    color: #71297d;
}

.button-section {
    display: flex;
    justify-content: center;
}

.button-container {
    max-width: 600px;
    display: flex;
    gap: 20px;
}

button {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    font-weight: 600;
    padding: 8px 12px;
    background-color: #f2e3f8;
    border: 2px solid #71297d;
    color: #71297d;
}

button:hover {
    background-color: #71297d;
    color: #f2e3f8;
}

button:active {
    background-color: #44184c;
    border: 2px solid #44184c;
}

/* Grid Section */

.grid-section {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: flex;
    border: 0.2em solid #71297d;
    background-color: white;
}

.square {
    border: 0.05em solid black;
}